* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Luckiest Guy';
    background-color: #e6e6ea;
}

.viewp {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /*top: 0;
    left: 0;*/
}

table{column-gap: 0rem;}
td,th{
    padding: 0.3rem;
    border: 0.1rem solid black;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.viewp h2 {
    text-align: center;
}

header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#RegistrationForm {
    position: relative;
    width: 50vw;
    height: fit-content;
    margin-left: 25vw;
    margin-right: 25vw;
    border: 2px solid;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

#register_button{
    border-radius: 4px;
    width: 150px;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 50px;
    justify-content: center;
    font-family: 'Luckiest Guy';
    background-color: #83d6ef;
    color: black;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

#startbutton{
    border-radius: 4px;
    width: 200px;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 60px;
    justify-content: center;
    font-family: 'Luckiest Guy';
    background-color: darkslategrey;
    color: white;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

#accept_button, #next_button, #end_button{
    border-radius: 4px;
    width: 100px;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 50px;
    align-content: center;
    justify-content: center;
    font-family: 'Luckiest Guy';
    background-color: darkslategrey;
    color: white;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

#percentage_button, #playagain{
    border-radius: 4px;
    width: 250px;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 50px;
    align-content: center;
    justify-content: center;
    font-family: 'Luckiest Guy';
    background-color: darkslategrey;
    color: white;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.td{}

.textput {
    width: 100%;

}


/* Game board */
#gamecontainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.gamepannel {
    position: relative;
    justify-self: center;
    height: fit-content;
    width: 50vw;
}

.main-box{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #83d6ef;
    align-items: center;
    border-radius: 10px;
}

.show-answer{
    width: 100%;
    height: 55px;
    background: #fb6868;
    margin: 0px 0px 60px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.box-1{
    display: flex;
}

.tex1, #userAnswer {
    width: 78px;
    font-size: 20px;
    font-weight: 600;
    height: 55px;
    padding: 0px 10px;
    text-align: center;
    border: none;
    background: #fff;
    box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 2px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999;
}

.multiply{
    margin: 14px 20px 12px 20px;
    font-size: 25px;
}

#userAnswer{
    width: 180px;
    height: 35px;
    margin: 30px 0px;
    padding: 0px 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Frequency chart */
.freqchart{
    width: 100%;
    min-height: 200px;
    height: fit-content;
}

.freqbar{
display: flex;
align-items: center;
align-content: center;
justify-content: center;
height: 2rem;
}

.freqbartxt{
    font-size: 1.3rem;
}